<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style/css/style-main.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" media="all" />
    <title>MELLO</title>
</head>
<body class="home home-01">
    <!--begin header-->
    <partial name="_header" />
    <!--end header-->
    <!--begin content-->
    @RenderBody()
    <!--end content-->
    <!--begin footer-->
    <partial name="_footer" />
    <!--end footer-->

    <script type="text/javascript" src="~/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="style/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/galary-image/js/jquery.blueimp-gallery.min.js"></script>
    <script src="~/js/galary-image/js/bootstrap-image-gallery.js"></script>
    <script type="text/javascript" src="~/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/slideshow/jquery.themepunch.revolution.js"></script>
    <script type="text/javascript" src="~/js/slideshow/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/js/theme.js"></script>
</body>
</html>